<div class="point-inner"
    @onmousedown="OnMouseDown"
    @onmousedown:stopPropagation
    @onmouseup="OnMouseUp"
    @onmouseup:stopPropagation
    @onmousemove="OnMouseMove"
    @onmouseout="OnMouseOut"
    @onmouseout:stopPropagation>
</div>
        

@code {
   
}

