@page "/completeregistration";
@using WorkflowDiagram.UI.Blazor.ServiceModel;
@inject DatabaseManager DatabaseManager;
@inject NavigationManager NavManager;

<div class="form">
    <ServiceLogo></ServiceLogo>
    <div class="congratulation-text">@CompleteRegistrationText</div>
</div>

@code {

}
