@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <Workspaces></Workspaces>
    </Authorized>
    <NotAuthorized>
        <h1>You are not autorized. Click Login to Login.</h1>
    </NotAuthorized>
</AuthorizeView>
    
@*<SurveyPrompt Title="How is Blazor working for you?" />*@
