:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.diagram-viewport {
    width: 100%;
    height: 100%;
    position: relative;
    outline: none;
    overflow: hidden;
    touch-action: none;
    /*transition: transform .2s;*/
}

.grid-line {
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
}

.node {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: all;
}

.node-container {
    display: flex;
    padding: 4px;
}

.node-item {
    position: relative;
    flex-grow: 1;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.node-item-content { 

}

.node-item-selected {
    border-color: var(--green);
}

.resizing-border {
    height: 100%;
    width: 3px;
    cursor: ew-resize;
}

.node-resizing-borders {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: space-between;
}

.selection-hidden {
    border-color: transparent;
}

.node-header {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    color: black;
    display: flex;
    justify-content: center;
    padding: 3px 3px;
    cursor: move;
}

.node-content-left-part {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.node-content-right-part {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    align-content: flex-end;
}

.node-content {
    display: flex;
    flex-direction: row;
}

.node-separator {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.node-indicator-panel {
    display: flex;
}

.i-green {
    background-color: var(--green);
}

.node-indicator {
    width: 16px;
    height: 4px;
    border-radius: 1px;
    margin: 6px 2px;
}

.node-left-item {
    display: flex;
    padding: 4px 0;
    align-items: center;
}

.point {

}

.point-inner {
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #374151;

    background-color: white;
    width: 7px;
    height: 7px;
    border-radius: 3px;
}

    .point-inner:hover {
        background-color: var(--green);
        border-color: var(--green);
    }

.node-left-point {
    margin: 1px 4px 0 -4px;
    cursor: default;
}

.node-right-point {
    margin: 1px -4px 0 4px;
    cursor: default;
}

.node-point-value {
    font-size: 8px;
    color: gray;
    margin: 0 4px;
}

.node-point-name {
    font-size: 12px;
    color: black;
}

.node-right-item {
    width: 100%;
    display: flex;
    padding: 4px 0;
    align-items: center;
    align-content: flex-end;
    justify-content: flex-end;
}

.nodes-list {
    
}

.toolbox-item {
    border-radius: 2px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 1.0);
    border-width: 1px;
    border-color: #E5E7EB;
    border-style: solid;
    margin: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.04);
    background-color: white;
}

    .toolbox-item:hover {
        border-color: var(--green);
        background-color: rgba(0, 255, 0, 0.05);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    }

    .toolbox-item:active {
        border-color: var(--green);
        background-color: rgba(0, 255, 0, 0.05);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

.toolbox-item-icon-placeholder {
    width: 26px;
    height: 26px;
    border-radius: 3px;
    padding: 4px;
    background-color: #9CA3AF;
    /*background-color: var(--green);*/
    margin-right: 8px;
}

.toolbox-item-icon-text {
    color: white;
    font-size: 12px;
    cursor: default;
}

.toolbox-item-text {
    color: ButtonText;
    font-family: 'Segoe UI';
    font-size: 12px;
    cursor: default;
}

.document-editor {
    display: flex;
    flex-direction: column;
    height: calc(100% - 52px);
    /*background-color: var(--window-background);*/
}

.content-area {
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 130px);
}

.panel-outer {
    padding: 4px;
}

.vertical-panel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
}

.panel {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #D3D3D3;
    background-color: #F9FAFB;
    /*background-color: var(--window-background);*/
    overflow-y: auto;
}

.panel-content {
    padding: 4px;
    flex-grow: 1;
    overflow-y: auto;
}

.toolbox-area {
    width: 200px;
    height: 100%;
}

.diagram-area {
    flex-grow: 1;
}

.errors-area {
    height: 20%;
}

.properties-area {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.properties {
    width: 100%;
    flex-grow: 1;
}

.connections {
    width: 100%;
    height: 50%;
}

.grid-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    pointer-events: none;
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
}

.connections-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    pointer-events: none;
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transition-timing-function: linear;
}

.nodes-layer {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    pointer-events: none;
    transform-origin: 0px, 0px;
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    width: 100%;
    height: 100%;
    overflow: visible;
    transition-timing-function: linear;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    background-color: #DCDCDC;
    padding: 1px 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #D3D3D3;
    font-weight: bold;
    font-size: 12px;
}

.toolbar-area {
    width: 100%;
    height: auto;
    font-size: 14px;
    padding: 8px 16px;
}

.hidden {
    opacity: 0;
}

.diagram-info-panel {
    position: absolute;
    right: 4px;
    top: 4px;
    display: flex;
    background-color: rgba(255,255,255, 0.15);
    padding: 4px;
    border-radius: 2px;
    border-color: rgba(0, 0, 0, 0.25);
}

.diagram-info {
    margin: 4px;
    font-weight: normal;
    font-size: 12px;
}

.connector-item {
    fill: transparent;
    stroke-width: 2px;
    stroke: #374151;
    /*stroke:rgba(0, 0, 0, 0.25);*/
}

.connector-item-selected {
    stroke: forestgreen;
}

.pg-category {
    margin: 1px;
    padding: 2px;
    display: flex;
    align-items: center;
    background-color: #DCDCDC;
    border-style: solid;
    border-width: 1px;
    border-color: #D3D3D3;
    border-radius: 2px;
}

.pg-category-text {
    font-weight: bold;
    font-size: 12px;
}

.pg-expand-button {
    margin-right: 8px;
    height: 16px;
    width: 16px;
    color: black;
    background-size: 16px;
}

.pg-expanded {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M117.333,266.667H384c5.891,0,10.667-4.776,10.667-10.667c0-5.891-4.776-10.667-10.667-10.667H117.333 c-5.891,0-10.667,4.776-10.667,10.667C106.667,261.891,111.442,266.667,117.333,266.667z'/%3E%3Cpath d='M501.333,0H10.667C4.776,0,0,4.776,0,10.667v490.667C0,507.224,4.776,512,10.667,512h490.667 c5.891,0,10.667-4.776,10.667-10.667V10.667C512,4.776,507.224,0,501.333,0z M490.667,490.667H21.333V21.333h469.333V490.667z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.pg-collapsed {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 60 60' style='enable-background:new 0 0 60 60;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M0,0v60h60V0H0z M58,58H2V2h56V58z'/%3E%3Cpolygon points='29,51 31,51 31,31 51,31 51,29 31,29 31,9 29,9 29,29 9,29 9,31 29,31 '/%3E%3C/g%3E%3C/svg%3E");
}

.pg-object-row {
    display: flex;
    align-items: center;
    margin: 1px;
    padding: 5px;
}

.pg-object-text {
    font-weight: bold;
    font-size: 12px;
}

.pg-value-row {
    display: flex;
    align-items: center;
    margin: 1px;
    padding: 5px;
}

.pg-value-text {
    font-size: 12px;
    margin-right: 4px;
}

.pg-value-cell {
    flex-grow: 1;
}

.pg-empty-area {
    height: 100%;
    vertical-align: central;
    text-align: center;
    color: #D3D3D3;
    font-size: 10px;
    font-weight: bold;
    word-wrap: break-word;
}

svg * { pointer-events: all; }