<div class="pg-category">
    <div class="pg-expand-button @Row.ExpandButtonStyle" @onclick="OnExpandButtonClick"></div>
    <div class="pg-category-text">@Row.Row.Name</div>
</div>
@code {
    [Parameter]
    public PgRowItem Row { get; set; }

    void OnExpandButtonClick() {
        Row.Row.Expanded = !Row.Row.Expanded;
    }
}
