<div class="pg-object-row">
    <span class="pg-expand-button @Row.ExpandButtonStyle" @onclick="OnExpandButtonClick"></span>
    <div class="pg-object-text">@Row.Row.Name</div>
</div>
@code {
    [Parameter]
    public PgRowItem Row { get; set; }

    void OnExpandButtonClick() {
        Row.Row.Expanded = !Row.Row.Expanded;
    }
}
