<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="defaultPushSource" value="https://api.nuget.org/v3/index.json" />
    </config>
    <apikeys>
        <add key="https://api.nuget.org/v3/index.json" value="oy2pxlb2jbajcpviuo7qn3hbiwvvuwyebkpxaqkdqafdaq" />
    </apikeys>
</configuration>