<div class="service-logo">
    <img class="logo" src="/images/service-logo.svg" />
    <div class="service-name">LOWCODE</div>
</div>

@code {
    protected override bool ShouldRender() {
        return true;
    }
}
